<template>
  <div id="successOpenAuction">
    <div class="row">
      <div class="column">
        <img src="~/assets/icons/check-circle-solid.svg" width="130" height="130" style="margin-top: 30px; margin-bottom: 15px;">
      </div>
    </div>
    <div class="row">
      <div class="column">
        <h1 style="font-size: 22px; font-weight: 500; color: #ffb300;">
          ยินดีด้วย !
        </h1>
        <label style="font-size: 18px; font-weight: 500; color: #ffb300; margin-top: -10px;">การเปิดประมูลสินค้า ส้ม, สายพันธุ์ ORNG_001 จาก OO Farm, นครนายก สำเร็จ</label>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <auction-price />
        <auction-date :is-finish="true" />
      </div>
    </div>
  </div>
</template>

<script>
import AuctionPrice from './auction-price.vue'
import AuctionDate from './auction-date.vue'
export default {
  components: {
    AuctionPrice,
    AuctionDate
  }
}
</script>

<style lang="scss" scoped>
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
</style>
