<template>
  <a-form-item
    class="checkbox-input"
    :label="label"
    :label-col="{ md: { span: 8 } }"
    :wrapper-col="{ md: { span: 12 } }"
  >
    <a-checkbox
      class="a-checkbox"
      :placeholder="placeholder"
    />
  </a-form-item>
</template>

<script>
export default {
  props: {
    label: String,
    placeholder: String
  }
}
</script>

<style lang="scss" scoped>
.checkbox-input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
  > label {
    margin-right: 10px;
    font-size: 16px;
    font-weight: 500;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
  }
  /deep/ .ant-form-item-label {
    padding: 0 !important;
  }

}
</style>
