<template>
  <a-card class="card">
    <wizard-steps :steps="steps" :active-step-index="step" />
    <slot />
  </a-card>
</template>

<script>
import WizardSteps from './wizard-steps.vue'
export default {
  components: {
    WizardSteps
  },
  props: {
    step: Number,
    steps: Array
  }
}
</script>

<style lang="scss" scoped>
#wizard {
  padding-bottom: 40px;
}
</style>
